<el-container>
	<el-header>
		<el-row>
			<el-col :span="2"><img src="/img/icon.png" width="60px" height="60px" /></el-col>
			<el-col :span="8"><h3 style="font-family: Hiragino Sans GB">香径佳句</h3></el-col>
		<el-row>
	</el-header>
	<el-main>
		<el-menu :default-active="activeIndex" mode="horizontal" @select="handleNavSelect">
			<el-menu-item index="1">首页</el-menu-item>
			<el-menu-item index="2">分类</el-menu-item>
			<el-menu-item index="3">场景</el-menu-item>
			<el-menu-item index="4">标签</el-menu-item>
			<el-menu-item index="5">句子</el-menu-item>
			<el-menu-item index="6">用户</el-menu-item>
			<el-menu-item index="7">评论</el-menu-item>
			<el-menu-item index="8">句子采集</el-menu-item>
		</el-menu>
	</el-main>
</el-container>
